///////////////////////////////
//  C O L O R
$color-primary: #ffcaca;
$color-secondary: #372948;
$color-tertiary: #b0e0ff;

$color-dark: #251b37;
$color-light: #ffecef;

///////////////////////////////
//  F O N T
$font-pacifico: "Pacifico", cursive;
$font-sans-serif: "Open Sans", sans-serif;
$font-size-default: 1.6rem;
