.container {
  height: 90%;
  display: grid;

  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;

  @include respond(tab-portrait) {
    // height: 92%; // 92
    height: auto;
    padding: 3rem 1rem 1rem 1rem; // 1.5 - 3
    row-gap: 3rem; // 3
    grid-template-columns: 1fr;
    //grid-template-rows: 1fr 1fr;
  }
}
